@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
:root{
    --web-color:#4E47FF;
    --btn-hover:#3832dd;
}
button{
    background-color: var(--web-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 14px 30px;
    font-weight: 600;
}
button:hover{
    background-color: var(--btn-hover);
}
h2{
    font-size: 36px;
}

/* Header part  */
header{
    background-image: url(/image/bg-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
header .bg-con {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
header .bg-con .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.logo{
    color: var(--web-color);
    font-size: 44px;
}
.con-02{
    padding: 200px 0;
}
.hero-text{
    font-size: 60px;
    width: 54%;
    margin: 0 auto;
    text-align: center;
    color: var(--web-color);
}

main{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

/* See It in Action part  */
.see-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.see-para-02{
    color: #25243280; 
    margin-top: 20px;
    width: 70%;
    font-size: 20px;
}

/* Joined Thousands of Productive Users part  */
.user-con{
    background-color: #4E47FF1A;
    border-radius: 12px;
    margin-top: 60px;
}
.rech{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px 30px 140px;
    margin-top: 30px;
}
.rech .rech-02{
    color: var(--web-color);
    font-size: 70px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}
.rech-03{
    color: #00000080;
}