@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
:root{
    --web-color:#4E47FF;
}
button{
    background-color: var(--web-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 14px 30px;
    font-weight: 600;
}
header{
    background-image: url(/image/bg-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
header .bg-con {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
header .bg-con .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}